html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to top right, #ffafbd, #ffc3a0); */
}

#matrix {
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    height: 96vw;
    max-width: 800px;
    max-height: 800px;
    background: black;
    box-shadow: 0px 30px 50px rgba(0,0,0,0.35);
    touch-action: pinch-zoom;
}

.cell {
    width: 3.125%;
    height: 3.125%;
    padding: 0.5%;
    /* border-radius: 100%; */
    box-sizing: border-box;
    user-select: none;
}

.dot {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgb(155, 155, 155);
    box-shadow: 3px -3px 5px rgb(214, 214, 214) inset, 3px 3px 9px rgb(153, 153, 153) inset;
}

@media (hover: hover) {
    .cell:hover {
        padding: 0.25%;
        cursor: pointer;
    }
}

.glow {
    box-shadow: none;
}

#color-wheel {
    background: white;
    border-radius: 100%;
    padding: 5px;
    padding-bottom: 2px;
}

#palette {
    width: 96vw;
    max-width: 800px;
    margin-top: 20px;
    background: blue;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    box-shadow: 0px 30px 50px rgba(0,0,0,0.25);
}