:root {
    --circle-diameter: 80px;
    --color-container-space: 10px;
    --color: white;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #66BDCC, #A1FFCE);
}

#examples {
    width: 100%;
    max-width: min(500px, 96vw);
    display: flex;
    justify-content: space-evenly;
    background: var(--color);
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
    transition-duration: 0.25s;
    box-sizing: border-box;
}

.example, #example-label {
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 2px #000;
}

.example {
    background: rgba(255, 255, 255, 0.26);
}

#example-label {
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
}


@media screen and (max-width: 1000px) {
    .example, #example-label {
        font-size: 12px;
    }
}

#matrix {
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    height: 96vw;
    max-width: 800px;
    max-height: 800px;
    margin-top: 20px;
    background: black;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.35);
    touch-action: pinch-zoom;
}

.cell {
    width: 3.125%;
    height: 3.125%;
    padding: 0.5%;
    box-sizing: border-box;
    user-select: none;
}

.dot {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.dim {
    background: rgb(155, 155, 155);
    box-shadow: 3px -3px 5px rgb(214, 214, 214) inset, 3px 3px 9px rgb(153, 153, 153) inset;
}

.glow {
    box-shadow: none;
}

#color-wheel {
    background: white;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

#palette {
    width: 96vw;
    max-width: 800px;
    margin-top: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
    border-radius: 50px;
    /* border-radius: 1000px 500px 500px 1000px; */
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    background: var(--color);
}

.spacer {
    width: 100%;
}

#colors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-top: var(--color-container-space);
    margin-bottom: var(--color-container-space);
}

#color-controls {
    background: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    box-sizing: border-box;
    margin: var(--color-container-space);
}

.circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: white;
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(36, 36, 36);
    border-width: 5px;
    margin: 5px;
    box-sizing: border-box;
    transition-duration: 0.25s;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.control-selected {
    background: rgb(128, 128, 128);
}

.eraser-icon {
    background-image: url("./images/pencil.png");
    background-size: contain;
    width: 60%;
    height: 60%;
    transform: scale(-1, -1);
}

.clear-icon {
    background-image: url("./images/wastebasket.png");
    background-size: contain;
    width: 60%;
    height: 60%;
}

.save-icon {
    background-image: url("./images/save.png");
    background-size: contain;
    width: 60%;
    height: 60%;
}

.color-row {
    display: flex;
    flex-direction: row;
    background: rgb(36, 36, 36);
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: space-between;
}

#canvas {
    display: none;
}

@media (hover: hover) {
    .cell:hover {
        padding: 0.25%;
        cursor: pointer;
    }

    .circle:hover {
        transform: scale(1.1);
        transition-duration: 0.25s;
        z-index: 2;
        cursor: pointer;
    }

    .dangerous-control:hover {
        background: rgb(255, 79, 79);
    }

    .example:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 786px) and (orientation: portrait) {
    .circle {
        margin: 0;
    }
}

#signature {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier New", Courier, monospace;
    color: white;
    user-select: none;
  }
  
  a,
  a:visited {
    color: inherit;
  }